<div class="container-fluid">
    <div class="row">
        <div *ngIf="!product">
            <img src="assets/loading.gif" height="100" width="100" />
        </div>
        <div>
            <img src="{{product.imageUrl}}" class="img-responsive" width="200px">

            <h3>{{product.name}}</h3>
            <div class="price">$ {{product.unitPrice}}</div>
            <a (click)="addToCart(product.id)" class="primary-btn">Add to cart</a>


            <p>{{product.description}}
            </p>
            <br><br>
            <a routerLink="/products">Back to Product List</a>
        </div>
    </div>
</div>