<app-slider *ngIf="router.includes('home')"></app-slider>


<div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Trending Item</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">
         <!--
          <div class="nav-main">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Man</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Woman</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Kids</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Accessories</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li>
            </ul>
          
          </div>
        -->
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <app-products-list></app-products-list>
           
            <!--/ End Single Tab -->
            <!-- Start Single Tab -->
          
            <!--/ End Single Tab -->
            <!-- Start Single Tab -->
                      <!--/ End Single Tab -->
            <!-- Start Single Tab -->
           
            <!--/ End Single Tab -->
            <!-- Start Single Tab -->
                  <!--/ End Single Tab -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>