<div class="page-wrapper">



		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a routerLink="/">
					<img src="assets/logo.png" alt="logo" class="img-responsive" height="100" width="200">
				</a>
			</div>
			<div class="menu-sidebar-content js-scrollbar1">
				  <!-- Categories -->
                  <app-category-menu></app-category-menu>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->




		<!-- PAGE CONTAINER-->
		<div class="page-container">



			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">
						   <!-- search bar -->
						   <app-search></app-search>
						   <!--cart status-->
	                       <cart-status></cart-status>
						</div>
						<div class="account-wrap"></div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->




			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
                            <!-- CONTENT-->
							<router-outlet></router-outlet>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
			


		</div>
	</div>
	<!-- END PAGE CONTAINER-->


	<footer style="background-color:#205b8d;">
		<ul>
			<p style="color: white;">Developed by : Anis KCHAOU</p> 
			<p style="color: white;">Contact : kchaouanis26@gmail.com</p>
			<p style="color: white;">Source code : <a href="https://github.com/aniskchaou/ECOMMERCE-FRONTEND-ANGULAR">https://github.com/aniskchaou/ECOMMERCE-FRONTEND-ANGULAR</a></p>
		</ul>
	</footer>
